<% title 'Epoch' %>

<div id="convert-new" class="rounded-corners">

  <div id="convert-new-inner">

		<% semantic_form_for @convert, :url => '/' do |f| %>

		  <h2>Timezone</h2>

      <% f.inputs do %>
        <%= f.input :timezone, :label => false, :collection => grouped_options_for_select(Convert::TIME_ZONES, cookies[:timezone]) %>
      <% end %>

			<h2>Date/time format</h2>

			<% f.inputs do %> 
				<%= f.input :datetime_format, :label => false, :hint => 'Uses ' + link_to('Time#strftime', 'http://www.ruby-doc.org/core/classes/Time.html#M000392', :target => '_blank') + '&nbsp;&nbsp;--&nbsp;&nbsp; Want ' + link_to('default format', '#', :id => 'default_format') + ' ?' %>
			<% end %>

			<h2>Date/time to convert</h2>

			<% f.inputs do %> 
				<%= f.input :datetime, :label => false, :hint => 'Date/time is in ' + link_to('chronic', 'http://chronic.rubyforge.org/', :target => '_blank') + ' format' %>
			<% end %>

			<% if @datetime %>
				<div id="response">
					<p><%= @datetime %></p>
					<br/>
				</div>
			<% end %>
		
			<p><%= f.submit 'CONVERT' %>&nbsp;&nbsp;or&nbsp;&nbsp;<%= link_to 'Cancel', root_path %></p>

      <br/>
			<p>Code available on <%= link_to 'GitHub', 'http://github.com/asha79/epoch', :target => '_blank' %></p>

    <% end %>

  </div>

</div>

<% content_for :script do %>
  $('#epoch').attr('autocomplete', 'off').focus();
	$('#default_format').click(function() {
		$('#convert_datetime_format').val('<%= Convert::DEFAULT_DATETIME_FORMAT %>');
	});
<% end %>
